@import '../../../shared/variables.scss';

.summaryTitle {
  margin-bottom: 15px;
  font-weight: 600;
  // font-size: 1.3rem;
  color: #fff;
  text-align: center;
}

.titleMuted {
  font-weight: 400;
  color: #fff;
}

.red {
  color: #d25528;
}

.green {
  color: #25ae5f;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.subInfoRow {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
