@import '../../shared/variables.scss';

.input {
  padding: 15px;
  border: 2px solid #e7e7e7;
  background-color: #fcfcfc;
  color: $colorText;
  font-size: 1rem;
  width: 100%;
}

.inputContainer {
  width: 100%;
  margin: 10px 0;
  text-align: center;
}

.submitBtn {
  width: 100%;
  padding: 15px;
  background-color: $colorAccent;

  &:hover {
    background-color: darken($colorAccent, 10%);
  }
}

.signupHelper {
  color: #fff;
  margin-top: 20px;
  text-align: center;
}

.signupLink {
  color: #fff;
  font-weight: 500;
}

.forgotPassLink {
  color: #0069ff;
  text-decoration: none;
  font-size: 1.1rem;
}

.cardContainer {
  display: flex;
  justify-content: center;
}
