@import '../../../shared/variables.scss';

.root {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  z-index: 100;

  @media (max-width: $screenSm) {
    flex-direction: column;
    position: inherit;
    height: auto;
  }
}

.mapCol {
  flex: 1;
}

.controlsCol {
  width: 400px;

  @media (max-width: $screenSm) {
    width: 100%;
  }

  @media (min-width: $screenSm) {
    width: 350px;
  }

  @media (min-width: $screenMd) {
    width: 400px;
  }
}

.infoContainer {
  height: 100%;
  background-image: url('../../../assets/room4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.infoText {
  width: 600px;
  background-color: $colorPrimary;
  padding: 20px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 300;

  @media (max-width: $screenMd) {
    width: 100%;
  }

  @media (max-width: $screenSm) {
    min-height: 300px;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.header {
  margin: 0 0 20px 0;
  font-weight: $fontRegular;
  font-size: 2rem;

  @media (max-width: $screenSm) {
    margin: 0 0 10px 0;
    font-size: 2rem;
  }
}

.mapContainer {
  height: 100%;

  @media (max-width: $screenSm) {
    height: 300px;
  }
}
