@import '../../shared/variables.scss';

.inputContainer {
  width: 100%;
  margin: 10px 0;
  text-align: center;
}

.submitBtn {
  width: 100%;
  padding: 15px;
  background-color: $colorAccent;

  &:hover {
    background-color: darken($colorAccent, 10%);
  }
}

.cardContainer {
  margin: 50px 20px 0;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.error {
  color: $colorDanger;
}

.successTitle {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: $fontRegular;
  color: $colorAccent;
}

.successMsg {
  font-size: 1rem;
}

.successContainer {
  text-align: center;
}
