@import '../../../shared/variables.scss';

.root {
  min-width: 500px;
}

.title {
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: $fontSemi;
}

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.error {
  margin: 5px 0;
}
