@import '../../shared/variables.scss';

.root {
  padding: 40px 20px;
  background-color: rgb(39, 39, 45);
  color: #fff;
}

.title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.subTitle {
  margin-bottom: 40px;
  font-size: 18px;
  text-align: center;
  color: whitesmoke;
}

.pricingContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media (max-width: $screenMd) {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.pricingBlock {
  margin: 0 20px 40px 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  color: #000;
  overflow: hidden;
  flex: 1;

  @media (max-width: $screenMd) {
    margin: 0 0 40px 0;
  }
}

.pricingTitle {
  text-align: center;
  font-size: 22px;
  font-weight: 600;

  &.popularTile {
    font-size: 35px;
    font-weight: 800;
  }
}

.cost {
  text-align: center;
  font-weight: 600;
  font-size: 25px;

  &.popularCost {
    font-weight: 600;
    font-size: 55px;
  }
}

.heading {
  color: $colorText;
  padding: 20px 10px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #96deda;
  background: linear-gradient(#96deda, #50c9c3);


  &.basicList {
    background-color: #fecfef;
    background: linear-gradient(#fecfef, #ff9a9e);
  }
}

.features {
  padding: 20px;
}

.featuresTitle {
  margin-bottom: 20px;
  font-weight: 500;
}

.feature {
  margin: 10px 0;
  text-align: left;
  display: flex;

  &:before {
    content: '✓';
    margin-right: 10px;
    color: $colorAccent;
  }
}
