@import '../../shared/variables.scss';

.root {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.heading {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.name {
  font-weight: $fontBold;
}

.gravatar {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  overflow: hidden;
}

.gravatarHalo {
  width: 88px;
  height: 88px;
  padding: 4px;
  margin-bottom: 10px;
  background-color: $colorAccent;
  border-radius: 50px;
}

.link {
  margin: 4px 0;
  color: #fff;
  text-decoration: none;
}

.activeLink {
  color: $colorAccent;
}

.nav {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

