@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,500,700');
@import '../../shared/variables.scss';

:global {
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  input, select, textarea {
    border: 1px solid #fff;

    &:focus {
      border: 1px solid $colorPrimary;
    }
  }
}

.noListings {
  padding: 20px;
  border-bottom: 1px solid $lineColor;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 400;
}
