$colorPrimary: rgb(241, 43, 36);
$colorDanger: rgb(204, 0, 0);
$colorAccent: #15CD72;
$lineColor: #c7c7c7;
$colorText: #27272d;
$colorTextLight: rgb(152, 152, 152);
$screenXs: 480px;
$screenSm: 700px;
$screenMd: 1010px;
$colorBackgroundDark: #29323c;
$colorBackgroundLight: #485563;
