$colorPrimary: rgb(237, 28, 36);
$colorDanger: $colorPrimary;
$colorAccent: #15CD72;
$lineColor: #c7c7c7;
$colorText: #676767;
$colorTextLight: rgb(138, 137, 137);
$colorTextDarkest: rgb(51, 51, 51);
$screenXs: 480px;
$screenSm: 700px;
$screenMd: 1010px;
$colorBackgroundDark: #29323c;
$colorBackgroundLight: #485563;

$fontLight: 200;
$fontRegular: 300;
$fontSemi: 400;
$fontMedium: 500;
$fontBold: 700;
$fontBlack: 800;

$ctaDanger: $colorPrimary;
$ctaSuccess: rgb(27, 185, 52);
$ctaDefault: rgb(175, 183, 194);
$ctaDisabled: rgb( 243, 245, 249);
$inputOutline: rgb(46, 162, 248);

$transitionFast: .1s;
$transitionMedium: .2s;
