$colorPrimary: orangered;
$colorDanger: rgb(204, 0, 0);
$colorAccent: #15CD72;
$lineColor: #c7c7c7;
$colorText: #676767;
$colorTextLight: rgb(138, 137, 137);
$screenXs: 480px;
$screenSm: 700px;
$screenMd: 1010px;
$colorBackgroundDark: #29323c;
$colorBackgroundLight: #485563;

$fontLight: 200;
$fontRegular: 300;
$fontSemi: 400;
$fontMedium: 500;
$fontBold: 700;
$fontBlack: 800;
