@import '../../shared/variables.scss';

.root {
  position: relative;
  height: 450px;
  background-image: url('../../assets/room2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (max-width: $screenSm) {
    height: 300px;
  }
}

.content {
  padding-top: 150px;
  position: relative;
  z-index: 1;

  @media (max-width: $screenSm) {
    padding-top: 80px;
  }
}

.title,
.subtitle {
  margin: 0;
  padding: 10px 30px;
  display: inline-block;
  vertical-align: top;
  background-color: $colorPrimary;
  color: #fff;
  box-shadow: 0 0 0 10px $colorPrimary, 0 10px 12px #000;

  @media (max-width: $screenSm) {
    padding: 10px 20px;
  }
}

.title {
  font-size: 3rem;
  clear: both;
  font-weight: 100;
}

.subtitle {
  font-weight: 400;
}

.ctaContainer {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.loginBtn,
.signupBtn {
  width: 100px;
  padding: 10px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.loginBtn {
  background-color: $colorBackgroundDark;
}

.signupBtn {
  background-color: $colorPrimary;
  color: #fff;
  padding: 10px;
}
