.cardContainer {
  display: flex;
  justify-content: center;
}

.message {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
}

.loginLink {
  color: #0069ff;
  text-decoration: none;
  font-size: 1.1rem;
}
