// @import '~material-design-lite/material.css';

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,500,700');

$colorPrimary: rgb(241, 43, 36);
$colorAccent: rgb(180, 222, 80);
$lineColor: #c7c7c7;
$screenXs: 480px;
$screenSm: 700px;

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke;
}

* {
  box-sizing: border-box;
}

input, select, textarea {
  border: 1px solid #fff;

  &:focus {
    border: 1px solid $colorPrimary;
  }
}

.app_heading-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.app_heading {
  position: relative;
  height: 450px;
  background-image: url('../assets/room4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (max-width: $screenXs) {
    height: 300px;
  }
}

.app_heading-content {
  padding-top: 150px;
  position: relative;
  z-index: 1;

  @media (max-width: $screenXs) {
    padding-top: 80px;
  }
}

.app_title,
.app_sub-title {
  margin: 0;
  padding: 10px 30px;
  display: inline-block;
  vertical-align: top;
  background-color: $colorPrimary;
  color: #fff;
  box-shadow: 0 0 0 10px $colorPrimary, 0 10px 12px #000;

  @media (max-width: $screenXs) {
    padding: 10px 20px;
  }
}

.app_title {
  font-size: 3rem;
  clear: both;
  font-weight: 100;
}

.app_sub-title {
  font-weight: 400;
}

.app_form-control {
  margin: 0 10px;
  position: relative;
  flex: 1;
  min-width: 200px;
  border-radius: 2px;
  overflow: hidden;

  > * {
    width: 100%;
  }

  @media (max-width: $screenSm) {
    margin: 0 10px 20px;
  }
}

.app_form-input {
  padding: 9px;
  background-color: whitesmoke;
  border-radius: 0;
  outline: 0;
  font-size: 1.2rem;
}

.app_form-btn {
  margin: 0;
  padding: 11px;
  border-radius: 2px;
  border: 0;
  color: #fff;
  font-size: 1.1rem;
  background-color: $colorPrimary;
  cursor: pointer;
  outline: 0;
  transition: all 0.2s linear;

  &:hover {
    transition: all 0.2s linear;
    background-color: darken($colorPrimary, 10%);
  }
}

.app_form-container {
  min-height: 150px;
  padding: 0 20px;
  position: relative;
  z-index: 1;
  background-color: rgb(39, 39, 45);
  overflow: hidden;

  @media (max-width: $screenXs) {
    padding: 0 10px;
  }
}

.app_form-content-container {
  max-width: 1000px;
  margin: 0 auto;
}

.app_form-input-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.app_form-title {
  margin: 25px auto;
  letter-spacing: 2px;
  display: block;
  color: #fff;
  text-align: center;
  font-weight: 400;
  line-height: 1;

  @media (max-width: $screenXs) {
    margin: 15px auto;
    letter-spacing: 1px;
  }
}

.app_form-select {
  -webkit-appearance: none;
  padding: 9px 10px;
  border-radius: 0;
  box-shadow: none;
  font-size: 1.2rem;
  outline: 0;
  transition: all .3s ease 0s;
}

.app_form-control--custom-dropdown {
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }

  &:after {
    margin-top: 0px;
    border-top: 5px solid $colorPrimary;
  }

  &:before {
    margin-top: -7px;
    border-bottom: 5px solid $colorPrimary;
  }
}

.app_features {
  margin: 30px auto;
  max-width: 1000px;
  display: flex;
}

.app_features-col {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid $lineColor;

  &:last-child {
    border-right: 0;
  }
}

.app_features-icon {
  width: 100px;
}

.app_feature-msg {
  margin-top: 20px;
  text-align: center;
  line-height: 1.2;
  font-size: 1.1rem;
}
