@import '../../../shared/variables.scss';

.root {
  padding: 40px 20px;
}

.heading {
  margin-bottom: 30px;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  color: $colorText;
}

.info {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  color: $colorTextLight;
}

.storyContainer {
  margin: 60px auto 0 auto;
  max-width: 800px;
  display: flex;

  > div {
    flex: 1;
  }

  @media (max-width: $screenSm) {
    flex-direction: column;
  }
}

.avatarImage {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  overflow: hidden;
  background-image: url('../../../assets/alex_host.jpeg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $screenSm) {
    margin-bottom: 30px;
  }
}

.avatarName {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 20px;
  font-style: italic;
}

.storyLabel {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.storyBlock {
  margin-bottom: 20px;
}

.storyInfo {
  display: flex;
  justify-content: center;

  @media (max-width: $screenSm) {
    justify-content: flex-start;
  }
}

.storyValue {
  color: $colorTextLight;
}
