@import '../../shared/variables.scss';

.root {
  display: flex;

  &:nth-child(odd) {
    flex-direction: row-reverse;

    @media (max-width: $screenSm) {
      flex-direction: column-reverse;
    }
  }

  @media (max-width: $screenSm) {
    flex-direction: column-reverse;
  }
}

.col {
  padding: 20px 15px;
  flex: 1;

  &.info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    flex-direction: column;
  }

  @media (max-width: $screenSm) {
    padding: 0;
  }
}

.colTitle {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: $colorText;

  @media (max-width: $screenSm) {
    color: $colorTextLight;
  }
}

.select {
  border: 1px solid $lineColor;
  border-radius: 4px;
}

.selectContainer {
  margin-top: 15px;
}

.toggleContainer {
  margin-top: 20px;
}
