@import '../../shared/variables.scss';

.root {
  display: flex;

  @media (max-width: $screenSm) {
    flex-direction: column-reverse;
  }
}

.col {
  flex: 1;

  &.info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    flex-direction: column;
  }
}

.map {
  @media (max-width: $screenSm) {
    height: 200px;
    overflow: hidden;
  }
}

.summaryTitle {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 22px;
  color: $colorText;
}

.titleMuted {
  font-weight: 400;
  color: $colorTextLight;
}

.listingsCount {
  color: $colorPrimary;
}

.red {
  color: #d25528;
}

.green {
  color: #25ae5f;
}

.infoContent {
  padding: 20px 15px;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.subInfoRow {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
