@import '../../shared/variables.scss';

.root {
  display: flex;

  @media (max-width: $screenSm) {
    flex-direction: column-reverse;
  }
}

.col {
  flex: 1;

  &.info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    flex-direction: column;
  }

  &.mapCol {
    padding: 0;
  }

  @media (max-width: $screenSm) {
    padding: 0;
  }
}

.map {
  @media (max-width: $screenSm) {
    height: 150px;
    overflow: hidden;
  }
}

.summaryTitle {
  margin-bottom: 0;
  font-weight: 400;
  color: $colorText;
}

.summarySubitle {
  font-weight: 400;
  color: $colorTextLight;
}

.listingsCount {
  color: $colorPrimary;
}

.infoContent {
  padding: 20px 15px;
}
