@import '../../../shared/variables.scss';

.root {
  display: flex;

  &:nth-child(odd) {
    flex-direction: row-reverse;

    @media (max-width: $screenSm) {
      flex-direction: column-reverse;
    }
  }

  @media (max-width: $screenSm) {
    flex-direction: column-reverse;
  }
}

.col {
  padding: 20px 15px;
  flex: 1;

  &.info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
  }
}

.colTitle {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: $colorText;

  @media (max-width: $screenSm) {
    font-size: 20px;
    color: $colorTextLight;
  }
}
